.popup__closed {
  background: url(../../../images/Close\ Icon.svg);
  border: none;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__closed:hover {
  transition: opacity 0.3s linear;
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 425px) {
  .popup__closed {
    right: 0;
    top: -36px;
    min-width: 20px;
    min-height: 20px;
    background: url(../../../images/Close\ Icon-mobile.svg);
  }
}
