.element__like {
  align-self: center;
  background: url(../../../images/Group.svg);
  border: none;
  min-height: 19px;
  min-width: 22px;
}

.element__like:hover {
  transition: opacity 0.3s linear;
  opacity: 0.6;
}

.element__like:active {
  background: url(../../../images/black-like.svg);
}
