.form__set {
  border: none;
  padding: 0;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 358px;
}

@media (max-width: 425px) {
  .form__set {
    width: 238px;
  }
}
