.profile__add-button {
  align-self: center;
  background: url(../../../images/Add\ Button.svg) no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  min-height: 50px;
  min-width: 150px;
  cursor: pointer;
}

.profile__add-button:hover {
  transition: opacity 0.3s linear;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .profile__add-button {
    background: url(../../../images/Add\ Button\ mobile.svg);
    min-width: 282px;
    margin-top: 36px;
  }
}
