.elements__trash {
  background-color: transparent;
  width: 18px;
  height: 19px;
  background: url(../../../images/Trash.svg) no-repeat;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.elements__trash:hover {
  transition: opacity 0.4s linear;
  opacity: 0.6;
  cursor: pointer;
}
