.elements__like {
  align-self: center;
  background: transparent no-repeat;
  background-image: url(../../../images/Group.svg);
  border: none;
  height: 19px;
  width: 22px;
  cursor: pointer;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.elements__like:hover {
  transition: opacity 0.3s linear;
  opacity: 0.5;
}
